.app {
  text-align: center;
  padding: 20px;
  background-color: #034f84;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#inner_header {
  color: #feb236;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 3rem;
  font-weight: bolder;
}

.markdown-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#editor {
  width: 45%;
  height: 400px;
  padding: 10px;
  border: 2px solid #ccc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border: 5px solid #b8a9c9;
  border-radius: 5px;
}

#preview {
  width: 45%;
  height: 400px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  overflow-y: auto;
  border: 5px solid #b8a9c9;
  border-radius: 5px;
}
