body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bc5a45;
}

footer {
  margin-top: 1em;
  padding: var(--spacing-2) 0;
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.4rem;
}


